@font-face {
   font-family: Noto Sans CJK TC light;
   src: url(fonts/NotoSansCJKtc-Light.otf);
}


body{
	font-family: 'Noto Sans CJK TC light', sans-serif;
	font-weight: lighter;
	font-size: 14px;
	background: #000;
}
::-webkit-scrollbar { 
    display: none; 
}
body::after {
	position: absolute;
	width:0; 
	height:0; 
	overflow:hidden; 
	z-index:-1;
    content:  url("./../img/2/01.png")
    url("./../img/0.png")
    url("./../img/1.png")
    url("./../img/2/02.png")
    url("./../img/2/03.png")
    url("./../img/2/04.png")
    url("./../img/2/05.png")
    url("./../img/2/06.png")
    url("./../img/3/01.png")
    url("./../img/3/02.png")
    url("./../img/3/03.png")
    url("./../img/3/04.png")
    url("./../img/4/01.png")
    url("./../img/4/put_on/called-01.png")
    url("./../img/4/put_on/called-02.png")
    url("./../img/4/put_on/lower-01.png")
    url("./../img/4/put_on/lower-02.png")
    url("./../img/4/put_on/raise-01.png")
    url("./../img/4/put_on/raise-02.png")
    url("./../img/4/put_off/called-01.png")
    url("./../img/4/put_off/called-02.png")
    url("./../img/4/put_off/lower-01.png")
    url("./../img/4/put_off/lower-02.png")
    url("./../img/4/put_off/raise-01.png")
    url("./../img/4/put_off/raise-02.png")
    url("./../img/5/01.png")
    url("./../img/5/02.png")
    url("./../img/6/01.png")
    url("./../img/7/dad_hit/06.png")
    url("./../img/7/dad_hit/07.png")
    url("./../img/7/dad_hit/08.png")
    url("./../img/7/dad_hit_table/03.png")
    url("./../img/7/dad_hit_table/04.png")
    url("./../img/7/dinner/1-1.png")
    url("./../img/7/dinner/2-1.png")
    url("./../img/7/dinner/3-1.png")
    url("./../img/7/dinner_stopped/01.png")
    url("./../img/7/dinner_stopped/02.png")
    url("./../img/8/01.png")
    url("./../img/8/02.png")
    url("./../img/9/gs1.png")
    url("./../img/9/gs2.png")
    url("./../img/9/gs3.png")
    url("./../img/9/boy-mom.png")
    url("./../img/9/boy-dad.png")
    url("./../img/9/boy-side.png")
    url("./../img/9/boy-side2.png")
    url("./../img/9/girl-angry.png")
    url("./../img/9/girl-dad.png")
    url("./../img/9/girl-mom.png")
    url("./../img/9/girl.png")
    url("./../img/9/girl-side.png")
    url("./../img/9/girl-side2.png")
    url("./../img/9/teacher.png")
    url("./../img/9/teacher-2.png")
    url("./../img/10/12.png")
    url("./../img/10/13.png")
    url("./../img/10/14.png")
    url("./../img/10/15.png")
    url("./../img/12/os.png")
    url("./../img/12/get-med.png")
	url("./../img/12/os.png")
	url("./../img/16/dispose.png")
	url("./../img/16/1.png")
	url("./../img/16/2.png")
	url("./../img/16/3.png")
	url("./../img/16/4.png")
	url("./../img/16/5.png")
	url("./../img/16/6.png")
	url("./../img/16/7.png")
	url("./../img/16/7.png")
	url("./../img/16/7.png")
	url("./../img/17/ask.png")
	url("./../img/17/angry.png")
	url("./../img/12/search-0.png")
	url("./../img/12/search-1.png")
	url("./../img/12/search-2.png")
	url("./../img/12/search-3.png")
	url("./../img/12/search-4.png")
	url("./../img/13/take-med1.png")
	url("./../img/13/take-med2.png")
	url("./../img/13/take-med3.png")
	url("./../img/15/1.png")
	url("./../img/15/2.png")
	url("./../img/15/3.png")
	url("./../img/15/4.png")
	url("./../img/15/5.png")
	url("./../img/15/6.png")
	url("./../img/14/1.png")
	url("./../img/14/2.png")
	url("./../img/18/gohome1.png")
	url("./../img/18/gohome2.png")
	url("./../img/18/ach1.png")
	url("./../img/18/ach2.png")
	url("./../img/18/amb1.png")
	url("./../img/18/amb2.png")
	url("./../img/4/put_on/preg-1.png")
    ;
}
a{
	color: #fff;
}
a:hover{
	color: #254b5b;
	text-decoration: none;
}
.btn{
	border-radius: 0px;
	color: #fff;
	/*font-size: 14px !important;*/
	font-size: 10.5pt !important;
}
.btn:hover{
	background: #fff;
	color: #254b5b;
}
@media (hover: none) {
    a:hover { color: #fff; }
    .btn:hover{
    	background: inherit;
    	color: #fff;
    }
}

#wrapper{
	width: 100vw;
	height: 100vh;
}

#game{
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	/*background: url(../img/2/01.png);*/
	background-size: 375px 667px;
	width: 375px;
	height: 667px;
	margin-left: calc((100% - 375px )/2);
	padding-left: 38px;
	padding-right: 38px;
	overflow: hidden;
	overflow-y: scroll;
}

.btn-wrapper{
	position: absolute; 
	/*top: calc(270px - 70px - 120px); /* 270 - story wrapper top 0 story wrapper height */
	top: 260px; /* 270 - story wrapper top 0 story wrapper height */
	white-space: nowrap;
}

.btn-wrapper .btn-default{
    border: 1px solid #fff;
    width: 87pt;
    font-size: 13px;
    font-size: 10.5pt;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 3px;
    padding-right: 3px;
    transform: scale(0.8);
    margin-left: -11px;
}
.btn.start-game, .btn.loading {
	top: 280px;	
}

#btn-1{
	position: absolute;
	left: 0px;
}

#btn-2{
	position: absolute;
	left: 100px;
}

#btn-3{
	position: absolute;
	left: 200px;
}

#btn-4{
	position: absolute;;
	left: 0px;
	width: 300px;
}

#btn-5{
	position: absolute;;
	left: 0px;
	width: 300px;
	top: 37px;
}

#btn-6{
	position: absolute;;
	left: 0px;
	width: 300px;
	top: 74px;
}

.story-wrapper{
	width: 300px;
	position: absolute;
	top: 70px;
	color: #fff;
	font-size: 13.5px;
	font-size: 10.5pt;
	/*white-space: nowrap;*/
}

.line-wrapper{
	position: relative;
	top: 70px;
	max-height: 240px;
	overflow-y: scroll;
	z-index: 10;
	padding-top: 5px;
	margin-top: -5px;
}
.line-wrapper::-webkit-scrollbar {
	display: none;
}

.line-wrapper p{
	margin-bottom: 10px;
}

.line-wrapper img{
	max-width: 100px;
}

.line-read{
    display: inline-block;
	color: #fff;
	font-size: 10px;
	font-size: 8pt;
    transform: scale(0.8);
    vertical-align: bottom;
    margin-bottom: -3px;
}

.line-right .line-msg{
	/*float: right;*/
}

.line-left .line-msg{
	/*float: left;*/
}

.line-msg{
	display: inline-block;
	max-width: 150px;
	background: #fff;
	color: #4d4d4d;
	border-radius: 17px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 9px;
	padding-right: 9px;
    letter-spacing: 0.5px;
    font-size: 13px;
    font-size: 10.5pt;
    text-align: left;
}

.line-call{
	color: #999;
	/*color: #808080;*/
	font-style: italic;
}

.img-btn{
	width: 170px;
	display: block;
	margin-left: calc((375px - 60px - 170px) / 2);
	margin-top: 30px;
	cursor: pointer;
}

 .static-image{
    position: absolute;
    top: 0;
    /*left: -38px;*/
    /*width: calc(100% + 76px);*/
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.static-image img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.line-header {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #fff;
}

.go-back{
	right: calc( (100% - 374px * 0.9) / 2);
    margin-top: calc((100vh - 667px * 0.9) / 2 - 25px);
    position: absolute;
    color: #fff;
    font-size: 40px;
    text-align: right;
    z-index: 10;
}